@use "sass:math";

@use "map" as *;
@use "mixins" as *;

$name: col;

@include b($name) {
  @for $i from 0 through 24 {
    @include m($i) {
      display: if($i == 0, none, block);
      max-width: (math.div(1, 24) * $i * 100) * 1%;
      flex: 0 0 (math.div(1, 24) * $i * 100) * 1%;
    }

    @include m("offset-" + $i) {
      margin-left: (math.div(1, 24) * $i * 100) * 1%;
    }
  }
}
